*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background-image: url('../src//assets//logo/bussines.jpg'); 
  background-size: cover; */
  background-color: #D6CC99;
    color:white;
    width: 100%;
    min-height: 100vh;
}


.card-hover {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card-hover:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  }